<footer class="border-top footer text-muted">
    <div class="section-contact text-center">
        <div class="section-contents">
            <hr />
            <br />
            <address class="text-center">
                <span class="logo-company logo-text-company GoodToCode-blue">GoodToCode</span>
                <br />
                22431 Antonio, Suite B160-843
                <br />
                Rancho Santa Margarita, CA 92688
                <br />
                <a href="http://www.GoodToCode.com">GoodToCode.com</a> | <a href="http://www.twitter.com/GoodToCode">@Html.Raw("@GoodToCode")</a>
                <br />
                <div class="social">
                    @*<a href="http://www.facebook.com/GoodToCode"><img src="~/Images/social/social-facebook.png" alt="http://facebook.com/GoodToCode" /></a>*@
                    <a href="http://www.twitter.com/GoodToCode"><img src="~/Images/social/social-twitter.png" alt="http://twitter.com/GoodToCode" /></a>
                    <a href="http://www.github.com/goodtocode"><img src="~/Images/social/social-rss.png" alt="http://www.github.com/goodtocode" /></a>
                </div>
            </address>
            <div class="footer-links">
                <a href="http://www.github.com/goodtocode/extensions" target="_blank">Extensions Repo</a>
                | <a href="http://www.github.com/goodtocode/framework" target="_blank">Framework Repo</a>
                | <a href="http://www.github.com/goodtocode/entities" target="_blank">Entities Repo</a>
                | <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        @(String.Format("Copyright (c) {0} {1}. All rights reserved.", DateTime.UtcNow.Year, "GoodToCode"))
    </div>
</footer>
